<!DOCTYPE html>
<html>
<head>
	<title>YelpCamp</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/c28_291.css">
</head>
<body class="bg-dark">		
	<div class="container" id="landing-header">
		<h1 class="text-white">Welcome to YelpCamp!</h1>

		<a class="btn btn-lg btn-success" href="/campgrounds">View All Campgrounds</a>
	</div>
	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</body>
</html>