<%- include("partials/c28_291_header") %>

<div class="container">
	<h1>Sign Up</h1>
	<form action="/register" method="POST">
		<div class="form-row">
			<input type="text" 
				   placeholder="username" 
				   name="username" 
				   required 
				   minlength="2" 
				   pattern="[A-Za-z0-9 ]*" 
				   title="a-z A-Z 0-9 " 
				   class="form-control col-md-4 my-3"
			>
		</div>
		<div class="form-row">
			<input type="password" 
				   placeholder="password" 
				   name="password" 
				   required 
				   minlength="8" 
				   class="form-control col-md-4 mb-3"
			>
		</div>
		<button class="btn btn-primary">Submit</button>
	</form>
	<p class="mt-3">
		<small>
			Username must contain only letters, numbers and spaces and be at least 2 characters long. <br/> Username must not begin or end with a space. <br/> Password must be at least 8 characters long.
		</small>
	</p>
</div>

<%- include("partials/c28_291_footer") %>